<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer Zone</title>
    <link rel="stylesheet" href="../public/CSS/inicioDeSesion.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="cinta">
            <div class="flecha">
                <a href="#"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="logo">
            <a class="l" href="#"><img class="imagen" src="../public/images/Gamer_zone.jpg" alt=""></a>
            </div>
        </div>
    </header>
    <div class="container">
        <form class="form">
          <h2>Inicio de Sesión</h2>
          <input type="text" placeholder="Usuario" required>
          <input type="email" placeholder="Correo Electrónico (Gmail)" required>
          <input type="password" placeholder="Contraseña" required>
          <input type="password" placeholder="Confirme Contraseña" required>
          <div class="contenedor">
                <p id="Terminos">Terminos y condiciones</p>
              <input class="checkbox" type="checkbox" id="terminos" name="terminos">
          </div>
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
</body>
</html>