<footer class="footer">
   <ul class="ul_footer">
  <a href="" class="enlace_footer"><li class="li_footer">Términos y condiciones</li></a> 
    <a href="" class="enlace_footer"><li class="li_footer">Accesibilidad</li></a>
    <a href="" class="enlace_footer"><li class="li_footer">Ayuda</li></a>
    <a href="" class="enlace_footer"><li class="li_footer">Informacion sobre seguros</li></a>
</ul> 
    <h2 class="copy">Copyright &copy; 2023 | San Salvador de Jujuy - Argentina</h2>
</footer>