<footer class="footer">
  <ul class="ul-footer">
    <li class="li-footer">
      <a href="#" class="enlace-footer">Términos y condiciones</a>
    </li>
    <li class="li-footer">
      <a href="#" class="enlace-footer">Accesibilidad</a>
    </li>
    <li class="li-footer">
      <a href="#" class="enlace-footer">Ayuda</a>
    </li>
    <li class="li-footer">
      <a href="#" class="enlace-footer">Información sobre seguros</a>
    </li>
  </ul>
  <h2 class="copy">
    Copyright &copy; 2023 | San Salvador de Jujuy - Argentina
  </h2>
</footer>
