<!-- Barra de navegacion -->

<header class="header">
    <div class="header-logo-container">
        <img src="images/gz-logo.png" alt="logo-header">
    </div>
    <nav class="navbar">
        <a class="nav-link" href="/">Home <i class="fa-solid fa-house"></i></a>
        <a class="nav-link" href="#">Juegos <i class="fa-solid fa-gamepad"></i></a>
        <a class="nav-link" href="/cart">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
        <a class="nav-link" href="/login">Ingresar <i class="fa-regular fa-user"></i></a>
        <a class="nav-link" href="/register">Registarse <i class="fa-solid fa-user-pen"></i></a>
    </nav>
</header>