<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Error 404!!</title>
</head>
<body>
    <main class="error_main">
        <center><h1 class="title_error">Error 404!!</h1>
        <p class="parrafo_error">Lo sentimos, f en el chat</p>


        <a class="enlace_a" href="/products">Vuele a la pagina principal</a>
    </center>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>