<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMER ZONE</title>
    <link rel="stylesheet" href="/CSS/Estilo.css">
    <script src="https://kit.fontawesome.com/1d145ef0aa.js" crossorigin="anonymous"></script>
</head>

<header>
    <div id="Banner">  
        <center><img src="/Images/Gamer_zone.png" width="50%" height="160px"      id="img_banner" alt="Banner"></center>
    </div>
</header>

<body>

<div
<center><H1 id="Titulo"></H1></center>

   
<div class="container">
  
    <ul class="slider">
      <li id="slide1">
        <img src="/Images/JUEGO.avif"/>
      </li>
      <li id="slide2">
        <img src="/Images/IMAGEN 4.webp"/>
      </li>
      <li id="slide3">
       <img src="/Images/IMAGEN 5.jpg" >
      </li>
    </ul>
    
    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
       <li>
        <a href="#slide3">3</a>
      </li>
    </ul>
  </div>
  <div>
     <center><H3>Experimenta la adrenalina de una revolución guerrillera moderna.</H3></center>
     <center><h3>Gracias a unos paisajes impresionantes, unos tiroteos brutales y una gran variedad de experiencias de juego,</h3></center>
     <center><h3>nunca ha habido mejor momento para unirte a la lucha.</h3></center>
  </div>



  <div>
    <center><h1>Requisitos</h1></center>
  </div>



    <center><ol>
      <li><h4>Sistema operativo: Windows 10 (versiones de 64 bits)</h4></li>
      <li><h4>Procesador (CPU): AMD Ryzen 3 1200 a 3 Ghz o Intel Core i5-4460 a 3,1 Ghz.</h4></li>
      <li><h4>RAM:8 GB (modo de doble canal)</h4></li>
      <li><h4>Tarjeta gráfica:AMD RX 460 (4 GB) o NVIDIA GeForce GTX 960 (4 GB)</h4> </li>
      <li><h4>Disco duro:con 60 GB de espacio disponible.</h4></li>
    </ol></center>


  
  <center><button id="BOTON"><div><h1 id="PRECIO">ARS$ 5.999,00</h1></div></button></center>



  <center><div class="contenedor">
    <button><i class="fa-solid fa-cart-shopping fa-beat"></i></button>
  </div></center>
   
  </body>



</html>