<!DOCTYPE html>
<html lang="en">
<!-- Encabezado -->
<%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="index-main">
      <section class="seccion">
        <h1 class="title">Ofertas</h1>
        <div class="container">
          <div class="juego-container">
            <img class="img-juego" src="images/farcry.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="/products/detail/1" class="titulo-juego">Far Cry 6</a>
              <p class="oferta">25% <i class="fa-solid fa-tag"></i></p>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/gta.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">GTA V</a>
              <p class="oferta">60% <i class="fa-solid fa-tag"></i></p>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/re4.jpeg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">RE 4 Remake</a>
              <p class="oferta">10% <i class="fa-solid fa-tag"></i></p>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/tlou.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">The Last of Us Part I</a>
              <p class="oferta">20% <i class="fa-solid fa-tag"></i></p>
              <p class="precio">2.000$</p>
            </div>
          </div>
        </div>
      </section>
      <section class="seccion">
        <h1 class="title">Novedades</h1>
        <div class="container">
          <div class="juego-container">
            <img class="img-juego" src="images/farcry.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">Far Cry 6</a>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/gta.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">GTA V</a>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/re4.jpeg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">RE 4 Remake</a>
              <p class="precio">2.000$</p>
            </div>
          </div>
          <div class="juego-container">
            <img class="img-juego" src="images/tlou.jpg" alt="img-juego" />
            <div class="desc-box">
              <a href="#" class="titulo-juego">The Last of Us Part I</a>
              <p class="precio">2.000$</p>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
