<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="index-main">
        <section class="seccion">
            <h1 class="title">Ofertas</h1>
            <div class="container">
                <div class="juego-container">
                    <img class="img-juego" src="images/farcry.jpg" alt="img-juego">
                    <div class="desc-box">
                        <a href="/productDetail" class="titulo-juego">Far Cry 6</a>
                        <h2 class="a単o">2021</h2>
                    </div>
                </div>
                <div class="juego-container">
                    <img class="img-juego" src="images/farcry.jpg" alt="img-juego">
                    <div class="desc-box">
                        <a href="#" class="titulo-juego">Far Cry 6</a>
                        <h2 class="a単o">2021</h2>
                    </div>
                </div>
                <div class="juego-container">
                    <img class="img-juego" src="images/farcry.jpg" alt="img-juego">
                    <div class="desc-box">
                        <a href="#" class="titulo-juego">Far Cry 6</a>
                        <h2 class="a単o">2021</h2>
                    </div>
                </div>
                <div class="juego-container">
                    <img class="img-juego" src="images/farcry.jpg" alt="img-juego">
                    <div class="desc-box">
                        <a href="#" class="titulo-juego">Far Cry 6</a>
                        <h2 class="a単o">2021</h2>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
