<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head') %>
  <body class="body-login">
    <div class="back-container">
      <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left-long"></i>
      </a>
    </div>

    <main class="login-main">
      <h1 class="login-title">Iniciar sesión</h1>
      <div class="login-container">
        <form action="post" class="form-container">
          <input
            class="form-field"
            type="text"
            name="user"
            placeholder="Nombre de usuario"
            required
          />
          <input
            class="form-field"
            type="password"
            name="password"
            placeholder="Contraseña"
            required
          />
          <button class="send-button" type="submit">Ingresar</button>
        </form>
        <div class="form-footer">
          <div class="text">
            <h2 class="question">
              ¿Aún no tienes una cuenta?
              <a class="link" href="/register">Registrate</a>
            </h2>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
