<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <main class="cart-main">
      <h1 class="cart-title">Carrito</h1>
      <div class="cart-container">
        <table class="products-table" border="">
          <tr class="table-head">
            <th></th>
            <th>Juego</th>
            <th>Cantidad</th>
            <th></th>
            <th>Precio unitario</th>
            <th></th>
            <th>Total</th>
          </tr>
          <tr class="table-body">
            <td class="img-container">
              <img class="game-img-cart" src="images/farcry.jpg" alt="img-juego" />
            </td>
            <td>Far Cry 6</td>
            <td>1</td>
            <td>
              <a href="#"><i class="fa-solid fa-trash-can"></i></a>
            </td>
            <td>$2.000</td>
            <td class="descuento">20%</td>
            <td>$2.000</td>
          </tr>
        </table>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
