<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="edit-main">
      <h1 class="edit-title">Editar juego</h1>
      <form class="edit-form-container" action="/products/edit" >
        
      </form>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
