<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <!-- Contenido principal -->
    <main class="create-main">
      <h1 class="create-title">Publicar juego</h1>
      <form class="create-form-container" action="/products/create" >
        
      </form>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
