<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <!-- Barra de navegacion -->
    <%- include('./partials/header') %>

    <main class="detail-main">
      <h1 class="game-title">Far cry 6</h1>
      <div class="game-container">
        <img src="images/farcry.jpg" alt="juego" class="game-img" />
        <div class="descripcion">
          <div class="tags">
            <div class="tag play">
              <i class="fa-brands fa-playstation"></i>
            </div>
            <div class="tag xbox">
              <i class="fa-brands fa-xbox"></i>
            </div>
            <div class="tag pc">
              <i class="fa-solid fa-desktop"></i>
            </div>
          </div>
          <div class="detalles">
            <h1 class="precio">2.000$</h1>
            <h2 class="oferta">25%</h2>
            <h3 class="genero">FPS ACCIÓN AVENTURA</h3>
            <p class="about-game">
              El juego se desarrolla en Yara, una isla caribeña ficticia que
              yace bajo una dictadura liderada por "El Presidente" Antón
              Castillo quien está preparando a su hijo, Diego, para que continúe
              con su mandato. El jugador encarna al guerrillero Dani Rojas,
              quien busca derrocar a Castillo y a su régimen.
            </p>
          </div>
          <div class="buttons">
            <button class="carrito">
              Agregar al carrito
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <%- include('./partials/footer') %>
  </body>
</html>
