<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head') %>
  <body class="body-register">
    <div class="back-container">
      <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left-long"></i>
      </a>
    </div>

    <!-- Contenido principal -->
    <main class="register-main">
      <h1 class="register-title">Registro</h1>
      <div class="register-container">
        <form action="POST" class="form-container">
          <input
            class="main-field"
            type="text"
            name="user"
            placeholder="Nombre de usuario"
            required
            minlength="6"
            maxlength="16"
          />
          <legend class="info">Hasta 16 carácteres.</legend>
          <input
            class="form-field"
            type="email"
            name="correo"
            placeholder="Correo electrónico"
            required
          />
          <input class="main-field" type="date" name="fecha" />
          <legend class="info">Fecha de nacimiento</legend>
          <input
            class="form-field"
            type="text"
            name="direccion"
            placeholder="Domicilio"
          />
          <input
            class="main-field"
            type="file"
            name="foto"
            accept="image/*"
          />
          <legend class="info">Foto de perfil</legend>
          <input
            class="main-field"
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            minlength="8"
            maxlength="32"
          />
          <legend class="info">Hasta 32 carácteres.</legend>
          <input
            class="form-field"
            type="password"
            name="repass"
            placeholder="Repita la contraseña"
            required
          />
          <button class="send-button" type="submit">Registrarme</button>
        </form>
        <div class="form-footer">
          <div class="text">
            <h2 class="question">
              ¿Ya tienes una cuenta?
              <a class="link" href="/login">Ingresa</a>
            </h2>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</html>
