<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../CSS/Estilo.css">
    
</head>



<body>
    <header>
        <h2>Hola soy robert</h2>
    </header>
    <main>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate unde excepturi sequi dolore magni? Quam aspernatur, natus et ratione mollitia sequi, dignissimos ex quaerat esse impedit eum? Qui, laborum in?
        br
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, soluta sapiente. Dicta consequatur tempore incidunt facere aliquid atque beatae labore! Voluptatibus a odit fuga eum iusto dolorem rem quam animi?
        <br>
        <br>
        <br><br><br><br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem incidunt fugit rerum, aspernatur exercitationem consequuntur nobis, neque nam unde reiciendis eos deleniti corrupti dolores? Laudantium mollitia dicta explicabo consectetur expedita!

    </main>
    <footer class="footer-main">
        <img class="logo-footer" src="../Images/Gamer_zone.png" alt="">
      <ul class="terminos-footer"> 
       <li class="li-footer"><a class="footer-enlace" href="">Términos y condiciones</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Cómo cuidamos tu privacidad</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Accesibilidad</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Información al usuario</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Defensa del Consumidor</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Información sobre seguros</a></li>
       </ul>
       <br>
       <p class="parrafo-footer">Copyright 1999-2023 GameZone</p>
       <p class="parrafo-footer">Av.Belgrano 2932, piso 102, Cp 321, Patricionales</p>
    </footer>
</body>
</html>