<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Css/Inicio de sesion.css" type="text/css">
    <title>GAMER ZONE</title>
    <script src="https://kit.fontawesome.com/1d145ef0aa.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <div class="back">
        <div class="menu container">
        <img class="imagen" src="/Images/Gamer_zone.png">
         <input type="checkbox" id="menu" />
         <label for="menu">
             <img src="/Images/menu.png" class="menu-icono">
         </label>
          <nav class="navbar">
              <ul>
                  <li><a href="/views/Index.html">Inicio</a></li>
                  <li><a href="/views/registrarse.html"><i class="fa-solid fa-user-pen"></i>Registrarse</a></li>
                  <li><a href="/views/Index.html">Ofertas</a></li>
                  <li><a href="/views/productCart.html">Ver<i class="fa-solid fa-cart-shopping"></i></a></li>
             </ul>
          </nav> 
     </div>
  </div>
  
  <div>
    <h2>Iniciar Sesión</h2>
    <form>
      <div class="form-group">
        <label for="email"><h4>Correo Electrónico:</h4></label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password"><h4>Contraseña:</h4></label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Iniciar Sesión">
      </div>
    </form>
    <p><h2>¿No tienes una cuenta?</h2> <a href="/views/registrarse.html"><h3>Regístrate</h3></a></p>
  </div>

  <footer class="footer-main">
    <img class="logo-footer" src="/Images/Gamer_zone.png" alt="">
  <ul class="terminos-footer"> 
   <li class="li-footer"><a class="footer-enlace" href="">Términos y condiciones</a></li>
   <li class="li-footer"><a class="footer-enlace" href="">Cómo cuidamos tu privacidad</a></li>
   <li class="li-footer"><a class="footer-enlace" href="">Accesibilidad</a></li>
   <li class="li-footer"><a class="footer-enlace" href="">Información al usuario</a></li>
   <li class="li-footer"><a class="footer-enlace" href="">Defensa del Consumidor</a></li>
   <li class="li-footer"><a class="footer-enlace" href="">Información sobre Pagos</a></li>
   </ul>
   <br>
   <p class="parrafo-footer">Copyright 1999-2023 Gamer Zone</p>
   <p class="parrafo-footer">@San Salvador de Jujuy ARGENTINA</p>
   
</footer>


</body>


</html>