<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/styles-carrito.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="header-bar">
        <div class="bar-bottom">
         <img  class="logo-bar" src="/Images/Gamer_zone.png" alt="">
        <ul class="ul-xd">
         <li><a href="/views/Index.html">Inicio</a></li>
        <li><a href="/views/Index.html">Ofertas</a></li>
        <li><a href="/views/Salir de la cuenta.html">Salir De la Cuenta</a></li>
        <li><a href="">Ayuda</a></li>
        </ul>
    </header>
    <div class="subtitulo-h2">
        <h2 class="h2-subtitulo">Tu carrito</h2>
        </div>
    <main class="main-productos">
        <section class="productos-contenedor">
            <article class="producto">
               <img class="producto-img" src="https://cdn1.epicgames.com/b4565296c22549e4830c13bc7506642d/offer/TETRA_PREORDER_STANDARD%20EDITION_EPIC_Store_Portrait_1200x1600-1200x1600-ca8b802ff13813c37a44ebf68d0946a2.png" alt="">
              <div class="descripcion-producto">
               <h3 class="precio-producto">ARS$ 5.999,00</h3>
               <p class="titulo-producto">Far Cry 6</p>
               </p>
               <button class="buttom-reset">Borrar</button>
               </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="https://m.media-amazon.com/images/I/71uizbdZ5dL.jpg" alt="">
               <div class="descripcion-producto">
                <h3 class="precio-producto">ARS$ 3.761,01</h3>
               <p class="titulo-producto">GTA V</p>
               </p>
               <button class="buttom-reset">Borrar</button>
               </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="https://image.api.playstation.com/vulcan/ap/rnd/202210/0706/EVWyZD63pahuh95eKloFaJuC.png" alt="">
               <div class="descripcion-producto">
                <h3 class="precio-producto">ARS$ 12.958,00</h3>
                <p class="titulo-producto">RESIDENTE EVIL 4 REMAKE</p>
                </p>
                <button class="buttom-reset">Borrar</button>

                 </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="https://cdn-products.eneba.com/resized-products/VsZ3AMYJ--J8bogXI9ZoQk9qnQ_Zo3XNcNvZcpNR3cs_350x200_2x-0.jpg" alt="">
                <div class="descripcion-producto">
                <h3 class="precio-producto">ARS$ 9.999,00</h3>
                <p class="titulo-producto">The Last Of Us Part 1</p>
                <button class="buttom-reset">Borrar</button>

                </div>
            </article>
        </section>
            <div class="bottom-total">
            <h2 class="total-producto">Total=ARS$ 32.717,01</h2>
            <button class="buttom"><a class="comprar-bottom" href="">Comprar</a></button>
            <button class="buttom"><a class="comprar-bottom" href="">Metodo de Pago</a></button>
           </div>
        
        
    </main>
    <button class="agregar-producto"><a class="comprar-bottom" href="">Agregar Mas productos</a></button>
    
      <footer class="footer-main">
        <img class="logo-footer" src="/Images/Gamer_zone.png" alt="">
      <ul class="terminos-footer"> 
       <li class="li-footer"><a class="footer-enlace" href="">Términos y condiciones</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Cómo cuidamos tu privacidad</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Accesibilidad</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Información al usuario</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Defensa del Consumidor</a></li>
       <li class="li-footer"><a class="footer-enlace" href="">Información sobre Pagos</a></li>
       </ul>
       <br>
       <p class="parrafo-footer">Copyright 1999-2023 Gamer Zone</p>
       <p class="parrafo-footer">@San Salvador de Jujuy ARGENTINA</p>
       
    </footer>



    
</body>
</html>