<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('./partials/head')%>
  <body>
    <main class="error-main">
      <div class="error-container">
        <h1 class="title-error">Not found</h1>
        <p class="parrafo-error">
          Lo sentimos, no se ha encontrado la página a la que se quiere ingresar.
        </p>
        <a class="enlace-a" href="/products"><i class="fa-solid fa-arrow-left-long"></i></a>
      </div>
    </main>
  </body>
</html>