<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/public/css/style.css">
<%- include('./partials/head')%> 

<body>

   <%- include('./partials/header') %> 

   <div class="perfil-container">
    <h1>USUARIO</h1>
    <div class="profile-box">
      <div class="profile-info">
        <h2>Nombre: ></h2>
        <p>Correo: </p>
        <p>Contraseña: ********</p>
      </div>
      <button class="edit-buttonprofile">Editar</button>
    </div>
   </div>
  <%- include('./partials/footer') %>

</body>
</html>