<!-- Barra de navegacion -->

<header class="header">
  <div class="header-logo-container">
    <img src="/images/gz-logo.png" alt="logo-header" />
  </div>
  <nav class="navbar">
    <a class="nav-link" href="/">
      <h1 class="link">Home</h1>
      <i class="fa-solid fa-house"></i>
    </a>
    <a class="nav-link" href="/products">
      <h1 class="link">Juegos</h1>
      <i class="fa-solid fa-gamepad"></i>
    </a>
    <a class="nav-link" href="/cart">
      <h1 class="link">Carrito</h1>
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <% if(!usuario) { %>
    <a class="nav-link" href="/users/login">
      <h1 class="link">Ingresar</h1>
      <i class="fa-solid fa-user"></i>
    </a>
    <a class="nav-link" href="/users/register">
      <h1 class="link">Registarse</h1>
      <i class="fa-solid fa-user-pen"></i>
    </a>
    <% } else { %> 
      <% if(usuario.id_rol == 1) {%>
    <a class="nav-link" href="/users/profile">
      <h1 class="link"><%= usuario.nombre + ' ' + usuario.apellido %></h1>
      <i class="fa-solid fa-user"></i>
    </a>
    <% } else { %>
    <a class="nav-link" href="/products/create">
      <h1 class="link">Crear Producto</h1>
      <i class="fa-solid fa-screwdriver-wrench"></i>
    </a>
    <a class="nav-link" href="/users/profile">
      <h1 class="link"><%= usuario.nombre + ' ' + usuario.apellido %></h1>
      <i class="fa-solid fa-user"></i>
    </a>
    <% }} %>
  </nav>
  <div class="menu-container">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>
