body{
     font-variant: normal;
     margin: 0%;

}

header{
    display: flex ;
    height: 100px;
    background-color: hsl(14, 70%, 48%);
    justify-content: space-between;
    
}
.logo{
    display: flex;
}

.logo img{
    height: 100px;
    
}