body{
    max-width: 790px;
    margin: 0%;
    border: solid 1% rgb(0, 0, 0);
    padding: 1%;
    background-color: rgb(0, 0, 0);
    color: white;
}
@media (min-width: 490px){
    body{
        font-size: 4vw;
    }
    .barra{
        width: 50vw;
        height: 3vh;
    }
    .boton{
        width: 20vw;
        height: 5vh;
    }
    .botonCrear{
        width: 26vw;
        height: 4vh;
    }
    
}
@media (min-width: 790px){
    .barra{
        width: 40vw;
        height: 5vh;
    }
    .crearboton{
        padding-top: 3vh;
    }
    .botonCrear{
       width: 20vw;
       height: 7vh;
    }
    .boton{
        width: 16vw;
        height: 7vh;
    }
}
@media (min-width: 1200px){
    body{
        margin: auto;
    }
    .olvidaste{
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .olvidaste a{
        font-size: 66%;
    }
    .pie{
        font-size: 56%;
        display: inline;
    }
    .imgVinculo{
        display: inline;
    }
    .imagenes{
        display: flex;
        justify-content: space-evenly;
    }
    .imgLink{
        display: flex;
        justify-content: space-around;
        width: 18%;
    }
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    margin: 2%;
    border: solid 1% ;
    padding: 1%;
    box-sizing: border-box;
}
.cuerpo{
    text-align: center;
    font-size: 90%;
}
.intro{
    display: flex;
    justify-content: center;
}
.formUser{
    padding: 1%;
    margin: 10% 0%;
}
.info{
    padding: 5%;
    border: 2%;
    margin: 2%;
    box-sizing: border-box;
}
.formContraseña{
    padding: 1%;
    margin: 10% 0%;
}
.botonIngresar{
    margin: 10% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.olvidaste a{
    color: yellow;
}
#noCuenta{
    text-align: center;
}
.botonCrear{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: 12%;
}
.medio{
    text-align: center;
}
.FotterInfo{
    font-size: 75%;
    padding-left: 2%;
}
.imgVinculo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}
.imgLink{
    width: 12%;
    padding: 1%;

}
.img{
    width: 100%;
}
@media (min-width:100px){
    .img{
        width: 6vh;
    }
    .imagenes{
        width: 34vh;
        display: flex;
        justify-content: space-between;
    }
}