<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Carrito de Compras</title>
</head>
<body>
    <header class="header-bar">
        <div class="bar-top">
         <img  class="logo-bar" src="./img/Gamer_zone.jpg" alt="">
         <div class="searcher"> 
            <input type="text" class="bar-searcher">
          <button><i class="fas fa-search" ></i></button>
          </div>
     </div> 
     <div class="bar-bottom">
        <ul class="ul-xd">
         <li><a href="">Crear tu cuenta</a></li>
        <li><a href="">Ofertas</a></li>
        <li><a href="">Mi carrito</a></li>
        <li><a href="">Ayuda</a></li>
     </ul>
     </div>
    </header>
    <div class="subtitulo-h2">
        <h2 class="h2-subtitulo">Tu carrito</h2>
        </div>
    <main class="main-productos">
        <section class="productos-contenedor">
            <article class="producto">
               <img class="producto-img" src="/img/producto-1-carrito.jpg" alt="">
              <div class="descripcion-producto">
               <h3 class="precio-producto">$20.000</h3>
               <p class="titulo-producto">Horizon Forbidden West</p>
               <p class="descripcion-producto1">Descripcion:es un juego de modo libre
                lleno de accion y aventura con una historia fantastica
                e interesante,¡Te invito a que lo pruebes!,¡Venga!
               </p>
               <button class="buttom-reset">Borrar</button>
               </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="/img/producto-4-carrito.jpg" alt="">
               <div class="descripcion-producto">
                <h3 class="precio-producto">$30.000</h3>
               <p class="titulo-producto">God of War Raknarog</p>
               <p class="descripcion-producto1">Descripcion:es un juego de accion para mayores de 13 años 
                que se trata sobre los origenes griegos  o mejor dicho tiempos griegos
                y una aventura grande
               </p>
               <button class="buttom-reset">Borrar</button>
               </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="/img/producto-3-carrito.jpg" alt="">
               <div class="descripcion-producto">
                <h3 class="precio-producto">$15.000</h3>
                <p class="titulo-producto">The Witcher 3  complete edition</p>
                <p class="descripcion-producto1">Descripcion:es un juego de modo libre donde podes cumplir misiones
                    secundarias tanto primarias y una aventura grandiosa¡Esta para 
                    chuparse los dedos!
                </p>
                <button class="buttom-reset">Borrar</button>

                 </div>
            </article>
            <article class="producto">
                <img class="producto-img" src="/img/producto-5-carrito.jpg" alt="">
                <div class="descripcion-producto">
                <h3 class="precio-producto">$23.000</h3>
                <p class="titulo-producto">The Last Of Us Part 2</p>
                <p class="descripcion-producto1">Descripcion:es un juego de accion y aventura que te lleva
                a un mundo de suspenso de zombis en donde se trata de una chica que es inmune a las mordidas
                y es uno de los juegos mas esperados</p>    
                <button class="buttom-reset">Borrar</button>

                </div>
            </article>
            <h2 class="total-producto">Total=20000$</h2>
            <button class="buttom"><a class="comprar-bottom" href="">Comprar</a></button>
            <button class="buttom"><a class="comprar-bottom" href="">Metodo de Pago</a></button>
           
        </section>


             <section class="anuncio-producto">
                     <article class="producto-anuncio">
                        <a class="enlace-producto" href="">
                        <img class="img-anuncio" src="/img/producto-6-carrito.jpg" alt="">   
                    </a> 
                    <div class="producto-descripcion">
                        <a class="enlace-producto" href="">
                            <p class="precio">3000$</p>
                            <p class="oferta">32%</p>
                            <p class="nombre-producto">Minecraft</p>
                        </a>
                    </div>
                     </article>
                     <article class="producto-anuncio">
                        <a class="enlace-producto" href="">  
                        <img class="img-anuncio" src="/img/producto-7-carrito.jpg" alt="">
                    </a>
                          <div class="producto-descripcion">
                            <a class="enlace-producto" href="">
                                <p class="precio">3000$</p>
                                <p class="oferta">32%</p>
                                <p class="nombre-producto">Minecraft</p>
                            </a>
                        </div>
                     </article>
                     <article class="producto-anuncio">
                        <a class="enlace-producto" href="">
                        <img class="img-anuncio" src="/img/producto-8-carrito.jpg" alt="">
                    </a>
                           <div class="producto-descripcion">
                            <a class="enlace-producto" href="">
                                <p class="precio">3000$</p>
                                <p class="oferta">32%</p>
                                <p class="nombre-producto">Minecraft</p>
                            </a>
                        </div>
                     </article>
             </section>

    </main>
    <button class="agregar-producto"><a class="comprar-bottom" href="">Agregar Mas productos</a></button>
    <footer class="footer-nav">
            <div class="aplicaciones-footer">
                <nav class="aplicaciones">
                  <a class="link-share" href=""><img class="share-logo" src="/img/logo-facebook-carrito.jpg" alt="">Facebook</a>                </nav>
                <nav class="aplicaciones">
                   <a class="link-share" href=""><img class="share-logo" src="/img/logo-instagram-carrito.png" alt="">Instagram</a>
                </nav>
                <nav class="aplicaciones">
                    <a class="link-share" href=""><img class="share-logo" src="/img/logo-twitter-carrito.png" alt="">Twitter</a>
                </nav>
            </div>
              <p class="footer-parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint eum quo asperiores pariatur, illum doloribus quod. Corporis aperiam qui, quis sit labore voluptate, suscipit natus, neque voluptates maxime incidunt doloremque.</p>
    </footer>
</body>
</html>