<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Formulario/public/CSS/Registro.css" type="text/css">
    <title>GAMER ZONE</title>
</head>
<body>
    <header class="logo">
          <a href="#"><img class="imgLogo" src="/Formulario/public/img/Gamer_zone.jpg"></a>
    </header>
    <section class="formulario">
        <div  class="cuerpo">
            <h2>Ingrese su usuario y su contraseña</h2>
        </div>
        <article class="intro">
            <form action="" method="get">
                <div class="formUser">
                    <label for="usuario">USUARIO</label>
                    <div class="info">
                        <input class="barra" type="text" name="usuario" id="USUARIO">
                    </div>
                </div>
                <div class="formContraseña">
                    <label for="CONTRASEÑA">CONTRASEÑA</label>
                    <div class="info">
                        <input  class="barra" type="password" name="contraseña" id="CONTRASEÑA">
                    </div>
                </div>
                
                <div class="botonIngresar">
                    <button class="boton">INGRESAR</button>
                </div>
                <div class="olvidaste">
                    <a href="#">¿Olvidaste tu contraseña?</a>
                </div>
                <div>
                    <h3 id="noCuenta">¿No tenes cuenta?</h3>
                    <div class="crearboton">
                        <button class="botonCrear">CREAR CUENTA</button>
                    </div>
                </div>
            </form>
        </article>
    </section>
    <footer class="footer">
        <h2 class="medio">ZONE GAMER</h2>
        <div class="pie">
            <ul type="none" class="FotterInfo">
                <li>Contacto: 388*******</li>
                <li>Terminos y condiciones</li>
                <li>¿Quienes somos?</li>
                <li>¡Trabaja con nosotros!</li>
                <li>Derechos reservados © 2012-2023 Teachlr Corporation</li>
            </ul>
        </div>
        <section class="imgVinculo">
            <div class="imagenes">
                <a class="imgLink" href="#"><img class="img" src="/Formulario/public/img/Instagram.png"></a>
                <a class="imgLink" href="#"><img class="img" src="/Formulario/public/img/pajarito.png"></a>
                <a class="imgLink" href="#"><img class="img" src="/Formulario/public/img/YouTube.png"></a>
            </div>
            
        </section>
        
    </footer>
</body>
</html>