<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('../partials/head') %>
  <body class="body-login">
    <div class="back-container">
      <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left-long"></i>
      </a>
    </div>

    <!-- Contenido principal -->
    <main class="login-main">
      <h1 class="login-title">Iniciar sesión</h1>
      <div class="login-container">
        <div class="errores">
          <% if(locals.error && error != null) { %>
          <p class="error"><%= error %></p>
          <% } %>
        </div>
        <form action="/users/login" method="post" class="form-container">
          <input
            class="form-field"
            type="email"
            name="correo"
            placeholder="E-mail del usuario"
            id="correo"
            value="<%= locals.old && old.correo ? old.correo : "" %>"
          />
          <input
            class="form-field"
            type="password"
            name="password"
            placeholder="Contraseña"
            id="password"
            value="<%= locals.old && old.password ? old.password : "" %>"

          />
          <button class="send-button" type="submit">Ingresar</button>
        </form>
        <div class="form-footer">
          <div class="text">
            <h2 class="question">
              ¿Aún no tienes una cuenta?
              <a class="link" href="/users/register">Registrate</a>
            </h2>
          </div>
        </div>
      </div>
    </main>
    
    <script src="/js/loginUserValidator.js"></script>
  </body>
</html>
