<!DOCTYPE html>
<html lang="en">
  <!-- Encabezado -->
  <%- include('../partials/head') %>
  <body class="body-register">
    <div class="back-container">
      <a href="/" class="back-link">
        <i class="fa-solid fa-arrow-left-long"></i>
      </a>
    </div>

    <!-- Contenido principal -->
    <main class="register-main">
      <h1 class="register-title">Registro</h1>
      <div class="register-container">
        <div class="errores">
          <% errores.forEach(error => { %>
            <p class="error"><%= error.msg %></p>
          <% }) %>
        </div>
        <form action="/users/register"  method="POST" enctype="multipart/form-data" class="form-container">
          <input
            class="form-field"
            type="text"
            name="name"
            placeholder="Nombre/s"
            required
            maxlength="40"
          />
          <input
            class="form-field"
            type="text"
            name="lastName"
            placeholder="Apellido/s"
            required
            maxlength="40"
          />
          <input
            class="form-field"
            type="email"
            name="correo"
            placeholder="Correo electrónico"
            required
          />
            <input
            class="main-field"
            type="file"
            name="userImage"
            accept="image/*"
            required
          />
          <legend class="info">Foto de perfil</legend>
          <input
            class="main-field"
            type="password"
            name="password"
            placeholder="Contraseña"
            required
            minlength="8"
            maxlength="32"
          />
          <legend class="info">Hasta 32 carácteres.</legend>
          <input
            class="form-field"
            type="password"
            name="repass"
            placeholder="Repita la contraseña"
            minlength="8"
            maxlength="32"
            required
          />
          <button class="send-button" type="submit">Registrarme</button>
        </form>
        <div class="form-footer">
          <div class="text">
            <h2 class="question">
              ¿Ya tienes una cuenta?
              <a class="link" href="/users/login">Ingresa</a>
            </h2>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</html>
